<b>Partlist exported from /Users/vaclavpelousek/Documents/GitHub/octosense/hw/octoSenseSMD_V0.8.sch at 21/10/2022 10:45</b>
<p>
<table>
<tr><td><b>Qty</b></td><td><b>Value</b></td><td><b>Device</b></td><td><b>Package</b></td><td><b>Parts</b></td><td><b>Description</b></td><td><b>ASSEMBLED</b></td><td><b>MAN</b></td><td><b>MPN</b></td><td><b>ODOO</b></td><td><b>PRICE</b></td><td><b>SIZEX</b></td><td><b>SIZEY</b></td><td><b>SIZEZ</b></td><td><b>TYPE</b></td><td><b>VENDOR</b></td><td><b>WEB</b></td></tr>
<tr><td>2</td><td></td><td>M03LOCK</td><td>1X03_LOCK</td><td>1_READ, VOLTAGERANGE</td><td>Header 3</td><td>yes</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>THT</td><td></td><td></td></tr>
<tr><td>1</td><td></td><td>M03X2LOCK</td><td>2X3_LOCK</td><td>EXP</td><td>2x3 .1" header.</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>1</td><td></td><td>M04LOCK</td><td>1X04_LOCK</td><td>I2C_HEADER</td><td>Header 4</td><td>yes</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>THT</td><td></td><td></td></tr>
<tr><td>1</td><td></td><td>M06LOCK</td><td>1X06_LOCK</td><td>SPI_HEADER</td><td>Header 6</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>8</td><td>100</td><td>RESISTOR0603</td><td>RESISTOR0603</td><td>R7, R24, R29, R30, R40, R41, R151, R152</td><td></td><td>yes</td><td></td><td></td><td></td><td>0.1</td><td>0.85</td><td>1.55</td><td>0.5</td><td>SMT</td><td></td><td></td></tr>
<tr><td>3</td><td>100k</td><td>RESISTOR0603</td><td>RESISTOR0603</td><td>R5, R6, R74</td><td></td><td>yes</td><td></td><td></td><td></td><td>0.1</td><td>0.85</td><td>1.55</td><td>0.5</td><td>SMT</td><td></td><td></td></tr>
<tr><td>18</td><td>100n</td><td>CAPACITOR0603</td><td>CAPACITOR0603</td><td>C1, C2, C3, C4, C6, C9, C12, C13, C14, C15, C16, C17, C18, C19, C20, C21, C26, C27</td><td></td><td></td><td></td><td></td><td>0.1</td><td></td><td>0.85</td><td>1.55</td><td>0.8</td><td>SMT</td><td></td><td></td></tr>
<tr><td>17</td><td>10k</td><td>RESISTOR0603</td><td>RESISTOR0603</td><td>R1, R3, R4, R8, R9, R15, R19, R20, R23, R25, R27, R31, R46, R47, R48, R71, R72</td><td></td><td>yes</td><td></td><td></td><td></td><td>0.1</td><td>0.85</td><td>1.55</td><td>0.5</td><td>SMT</td><td></td><td></td></tr>
<tr><td>3</td><td>10uF</td><td>CAPACITOR0805</td><td>CAPACITOR0805</td><td>C5, C29, C30</td><td></td><td></td><td></td><td></td><td>0.1</td><td></td><td>1.2</td><td>2</td><td>1.2</td><td>SMT</td><td></td><td></td></tr>
<tr><td>8</td><td>1M</td><td>RESISTOR0603</td><td>RESISTOR0603</td><td>R2, R18, R22, R26, R28, R32, R68, R69</td><td></td><td>yes</td><td></td><td></td><td></td><td>0.1</td><td>0.85</td><td>1.55</td><td>0.5</td><td>SMT</td><td></td><td></td></tr>
<tr><td>1</td><td>1N4148</td><td>1N4148</td><td>DIODE_0603</td><td>D21</td><td>multifootprint covering 0603 + 0805 + microMELF</td><td></td><td>DC COMPONENTS </td><td>CD4148WT(0603C) </td><td>D_1N4148_0603</td><td>0.4</td><td>0.85</td><td>1.55</td><td>0.5</td><td>SMT</td><td></td><td>https://www.tme.eu/cz/details/1n4148-0603/univerzalni-diody-smd/dc-components/cd4148wt0603c/</td></tr>
<tr><td>17</td><td>1N4148</td><td>1N4148MULTI</td><td>MULTI(0603+0805+MICROMELF)</td><td>D2, D3, D4, D5, D6, D7, D8, D9, D10, D11, D12, D13, D14, D17, D19, D20, D24</td><td>multifootprint covering 0603 + 0805 + microMELF</td><td></td><td>DC COMPONENTS </td><td>CD4148WT(0603C) </td><td>D_1N4148_0603</td><td>0.4</td><td>0.85</td><td>1.55</td><td>0.5</td><td>SMT</td><td></td><td>https://www.tme.eu/cz/details/1n4148-0603/univerzalni-diody-smd/dc-components/cd4148wt0603c/</td></tr>
<tr><td>1</td><td>1N5819</td><td>1N5819</td><td>SOD123</td><td>D15</td><td>diode instead of 1N4007</td><td></td><td></td><td>1N5819HW-7-F </td><td></td><td>0.5</td><td>1.55</td><td>2.65</td><td>0.9</td><td>SMT</td><td></td><td>https://www.tme.eu/cz/details/1n5819hw-7-f/diody-schottky-smd/diodes-incorporated/</td></tr>
<tr><td>5</td><td>1X3_FEMALE</td><td>1X3_FEMALE</td><td>HEADER_1X3_FEMALE</td><td>IN_PIN_2, IN_PIN_3, IN_PIN_4, IN_PIN_5, JP4</td><td></td><td>yes</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>THT</td><td></td><td></td></tr>
<tr><td>18</td><td>1k</td><td>RESISTOR0603</td><td>RESISTOR0603</td><td>R10, R17, R21, R34, R35, R36, R37, R42, R43, R44, R49, R51, R52, R53, R70, R73, R75, R150</td><td></td><td>yes</td><td></td><td></td><td></td><td>0.1</td><td>0.85</td><td>1.55</td><td>0.5</td><td>SMT</td><td></td><td></td></tr>
<tr><td>1</td><td>1uF</td><td>CAPACITOR0805</td><td>CAPACITOR0805</td><td>C11</td><td></td><td></td><td></td><td></td><td>0.1</td><td></td><td>1.2</td><td>2</td><td>1.2</td><td>SMT</td><td></td><td></td></tr>
<tr><td>27</td><td>2.5k</td><td>RESISTOR0603</td><td>RESISTOR0603</td><td>R11, R12, R13, R14, R16, R33, R38, R39, R45, R50, R54, R55, R56, R57, R58, R59, R60, R61, R62, R63, R64, R65, R66, R67, R76, R77, R78</td><td></td><td>yes</td><td></td><td></td><td></td><td>0.1</td><td>0.85</td><td>1.55</td><td>0.5</td><td>SMT</td><td></td><td></td></tr>
<tr><td>1</td><td>3_WAY</td><td>SWITCH_SP3T_TOGGLE</td><td>SWITCH_SPDT_TOGGLE</td><td>PULLUP_2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>3</td><td>47p</td><td>CAPACITOR0603</td><td>CAPACITOR0603</td><td>C23, C24, C25</td><td></td><td></td><td></td><td></td><td>0.1</td><td></td><td>0.85</td><td>1.55</td><td>0.8</td><td>SMT</td><td></td><td></td></tr>
<tr><td>4</td><td>5V1</td><td>ZENER_DIODE5V1</td><td>SOD123</td><td>D16, D18, D23, D25</td><td></td><td></td><td> DIOTEC SEMICONDUCTOR </td><td>BZT52C5V1-DIO</td><td>DZ_5.1V_SOD123</td><td>0.3</td><td>0.5</td><td>3.7</td><td>0.9</td><td>SMT</td><td></td><td>https://www.tme.eu/cz/details/bzt52c5v1-dio/zenerovy-diody-smd/diotec-semiconductor/bzt52c5v1/</td></tr>
<tr><td>4</td><td>74595D</td><td>74595D</td><td>SO16</td><td>IC1, IC5, IC6, IC7</td><td></td><td>YES</td><td>Texas Instruments</td><td>SN74HC595DR</td><td>IC_74HC595_SO16</td><td></td><td>10.8</td><td>6</td><td>1.5</td><td>SMT</td><td></td><td></td></tr>
<tr><td>1</td><td>7805D</td><td>7805D</td><td>DPAK</td><td>IC4</td><td></td><td></td><td>ON Semiconductor</td><td>MC7805BDTRKG</td><td></td><td></td><td>6.5</td><td>9.8</td><td>2.3</td><td>SMT</td><td>TME</td><td></td></tr>
<tr><td>1</td><td>78L33</td><td>LF33CDT-TR</td><td>DPAK</td><td>IC2</td><td>PM-REG-L4940-SOT3</td><td></td><td>STM</td><td>LF33CDT-TR</td><td>VR_LF33CDT_DPAK</td><td></td><td>6.5</td><td>9.8</td><td>2.3</td><td>SMT</td><td></td><td>https://www.digikey.com/product-detail/en/LF33CDT-TR/497-1532-1-ND/592050?utm_campaign=buynow&WT.z_cid=ref_octopart_dkc_buynow&utm_medium=aggregator&curr=usd&site=us&utm_source=octopart</td></tr>
<tr><td>1</td><td>ARDUINO_MICROFOOTPRINT</td><td>ARDUINO_MICROFOOTPRINT</td><td>ARDUINO-MICRO</td><td>U$1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>6</td><td>B100k</td><td>POT_ALPHAPOT_ALPHA</td><td>POT_ALPHA</td><td>GAIN_1, GAIN_2, GAIN_3, OFFSET_2, OFFSET_3, THR</td><td>"A/B""value"_"height"_"D(centrer detent)"_"W(white mark)"</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>THT</td><td></td><td></td></tr>
<tr><td>4</td><td>FIDUCIAL</td><td>FIDUCIAL</td><td>FIDUCIAL</td><td>FID1, FID2, FID3, FID4</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>FID</td><td></td><td></td></tr>
<tr><td>1</td><td>LDR</td><td>M02LOCK</td><td>1X02_LOCK</td><td>LDR</td><td>Standard 2-pin 0.1" header. Use with</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>THT</td><td></td><td></td></tr>
<tr><td>25</td><td>LED_SMT_GREEN_1206_BOTTOM</td><td>LED_SMT_GREEN_1206_BOTTOM</td><td>LED_1206-BOTTOM_2.1D</td><td>L_1, L_2, L_3, L_4, L_5, L_A, L_AMP, L_B, L_C, L_D, L_E, L_EF, L_F, L_G, L_GATE, L_GATE_B, L_GATE_C, L_GATE_D, L_GATE_E, L_H, L_INV, L_OUT_B, L_OUT_C, L_OUT_D, L_OUT_E</td><td></td><td></td><td>OPTOSUPPLY </td><td>OSG51206E1N </td><td></td><td>0.9</td><td>1.6</td><td>3.4</td><td>1.4</td><td>SMT</td><td></td><td>https://www.tme.eu/cz/details/osg51206e1n/diody-led-smd-barevne/optosupply/</td></tr>
<tr><td>2</td><td>LED_SMT_RED_1206_BOTTOM</td><td>LED_SMT_RED_1206_BOTTOM</td><td>LED_1206-BOTTOM_2.1D</td><td>L_0, L_6</td><td></td><td></td><td>KINGBRIGHT ELECTRONIC </td><td>KPTL-3216SURCK-01 </td><td></td><td>1.5</td><td>1.6</td><td>3.4</td><td>1.4</td><td>SMT</td><td></td><td>https://www.tme.eu/cz/details/kptl-3216surck-01/diody-led-smd-barevne/kingbright-electronic/</td></tr>
<tr><td>1</td><td>M01PTH</td><td>M01PTH</td><td>1X01</td><td>JP2</td><td>Header 1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>2</td><td>MCP6002</td><td>MCP6002CD</td><td>SO8</td><td>AMP_B, AMP_M</td><td></td><td>YES</td><td>Microchip</td><td>MCP6002T-I/SN</td><td>IC_MCP6002_SO8</td><td>5.82</td><td>6.2</td><td>7.8</td><td>1.5</td><td>SMT</td><td></td><td></td></tr>
<tr><td>1</td><td>MICROPHONE</td><td>MICROPHONE</td><td>MICROPHONE</td><td>M1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>THT</td><td></td><td></td></tr>
<tr><td>1</td><td>PTC500MA1210</td><td>PTC500MA1210</td><td>PTC1210</td><td>PTC</td><td></td><td></td><td>ECE </td><td>SM050-16</td><td></td><td></td><td></td><td></td><td></td><td>SMT</td><td></td><td>https://www.tme.eu/cz/details/sm050-16/polymerove-pojistky-smd/ece/</td></tr>
<tr><td>6</td><td>PUSHBUTTON_MOM_320.02</td><td>PUSHBUTTON_MOM_320.02</td><td>PUSH_320.02E11.08BLK</td><td>B_1, B_2, B_3, B_4, B_5, B_6</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>10</td><td>PUSH_MOMENTARY_17MM_THT_6X6MM</td><td>PUSH_MOMENTARY_17MM_THT_6X6MM</td><td>TACTILE-PTH</td><td>B_7, B_8, B_CALIBRATE, B_CV_A, B_GATE_A, B_INVERT, B_MIDI, B_MUTE, B_SHIFT, B_SYNTH_MODE</td><td>Various NO switches- pushbuttons, reed, etc</td><td></td><td>WEALTHMETAL</td><td>TC-0111-T</td><td></td><td></td><td></td><td></td><td></td><td>THT</td><td></td><td>https://www.gme.cz/tc-0111-t</td></tr>
<tr><td>1</td><td>PWR_CON_WITHOUT_LABLES</td><td>PWR_CON_WITHOUT_LABLES</td><td>PWR_CON_WITHOUT_LABLES</td><td>J1</td><td></td><td></td><td></td><td>M2X5</td><td></td><td></td><td></td><td></td><td></td><td>THT</td><td></td><td></td></tr>
<tr><td>1</td><td>PWR_JACK</td><td>PWR_JACK</td><td>POWER_JACK</td><td>J2</td><td></td><td></td><td></td><td></td><td>PC-GK2.1</td><td></td><td></td><td></td><td></td><td>THT</td><td></td><td></td></tr>
<tr><td>2</td><td>SOLDERJUMPER</td><td>SOLDERJUMPER</td><td>SOLDERJUMPER</td><td>4_CUT_FOR_1M, 5_CUT_FOR_1M</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>SOLDER</td><td></td><td></td></tr>
<tr><td>3</td><td>SWITCH_SP3T_TOGGLE</td><td>SWITCH_SP3T_TOGGLE</td><td>SWITCH_SPDT_TOGGLE</td><td>PULLUP_3, PULLUP_4, PULLUP_5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>1</td><td>TEENSY_3.1-3.2_DIL</td><td>TEENSY_3.1-3.2_DIL</td><td>TEENSY_3.0-3.2&LC_DIL</td><td>U$5</td><td>Teensy 3.1 or 3.2 in a DIL Layout.</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>3</td><td>THONKICONN-STEREO</td><td>THONKICONN-STEREO</td><td>WQP-PJ366ST_JACK</td><td>MIDI_IN, MIDI_OUT, SYNTH/CV_B</td><td>3.5mm socket for Eurorack modular synths</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>14</td><td>THONKICONNNEW</td><td>THONKICONNNEW</td><td>WQP-PJ301M-12_JACK</td><td>1_EF, 1_PREAMP, CV_A, DIR_CV_2, DIR_CV_3, GATE_2, GATE_3, GATE_A, GATE_B, IN_1, IN_2, IN_3, IN_4, IN_5</td><td>3.5mm socket for Eurorack modular synths</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>1</td><td>TLP2368</td><td>PS9117A</td><td>PS9117-F3-A</td><td>IC16</td><td></td><td>yes</td><td>CEL</td><td>PS9117A-AX</td><td></td><td>38.48</td><td>3.7</td><td>7</td><td>2.1</td><td>SMT</td><td>MOUSER</td><td></td></tr>
</table>
